body {
	background: white;
	font-family: arial;
}

h1 {
	color: black;
	padding: 5px;
	margin: 0px;
	font-family: western;
	text-align: center;
}

.navbutton {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbutton li a {
	display: block;
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbutton li a:hover {
	background-color: #111;
}

.introText {
	font-weight: bold;
	text-align: center;
	font-size: 150%;
	margin: 10px;
	color: black;
}

table {
	float: left;
	margin: 10px;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	
}

#newEntryForm {
	
}

tr:nth-child(even) {
	background-color: lightgray;
}

tr:hover {
	background-color: #999;
}

th {
	background-color: #999;
	border-collapse: collapse;
}

th, td {
	padding: 5px;

}

a {
	text-decoration: none;
}


.pageBar {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
}

.pageBar li a {
	display: inline-block;
	color: white;
	text-align: center;
	float: left;
	padding:5px;
	text-decoration: none;
	background-color: gray;
}

.pageBar li a:hover {
	background-color: lightgray;
}

.filter {
	float: right;
	margin: 20px;
}
