RewriteEngine on
RewriteBase /cycledata/

RewriteRule ^([0-9]+)/$ index.html?module=thefts&id=$1 [L]

RewriteRule ^page/([0-9]+)/$ index.html?module=thefts&page=$1 [L]

RewriteRule ^collisions/page/([0-9]+)/$ index.html?module=collisions&page=$1 [L]

RewriteRule ^collisions/([0-9]{6}[-0-9A-Za-z]{2}[0-9]{5})/$ index.html?module=collisions&id=$1 [L]

RewriteRule ^api/$ API.php [L,QSA]

RewriteRule ^collisions/$ index.html?module=collisions

RewriteRule ^thefts/$ index.html?module=thefts

